<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>dummy.MyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>HelloServlet</servlet-name>
	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <context-param>
	<param-name>OracleUrl</param-name>
	<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
  </context-param>
  
  <context-param>
	<param-name>OracleUser</param-name>
	<param-value>system</param-value>
  </context-param>
  
  <context-param>
	<param-name>OraclePass</param-name>
	<param-value>oracle</param-value>
  </context-param>  
  
</web-app>
